/* @font-face {
    font-family: 'ArmadaIcons';
    src: url('assets/ARMADAICONSv6.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
  }
  
  // .icon-specific-character::before {
  //   font-family: 'ArmadaIcons';
  //   content: '\E001';  // Replace E001 with the actual Unicode value
  // }
  
  .icon-objective::before {
    font-family: 'ArmadaIcons', sans-serif;
    content: '\0021';
  }
  <span class="icon-objective"></span> */

.icon {
    display: inline-block; /* 'inline-block' often works better for icons */
    width: 1em;
    height: 1em;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    vertical-align: middle; /* baseline can sometimes cause alignment issues */
    fill: currentColor;
    stroke: currentColor;
}

.icon-objective {
    background-image: url('/assets/objectives/Objective.svg'); /* Ensure path is correct */
}
