body {
    /***
      ADD YOUR CUSTOM STYLING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/
    //  background-color: white;
    //  .content {
    //   font-size: 14px;
    //  }
    //  h1 {
    //   color: black;
    //  }
}

@font-face {
  font-family: 'ArmadaIcons';
  src: url('assets/ARMADAICONSv6.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

// .icon-specific-character::before {
//   font-family: 'ArmadaIcons';
//   content: '\E001';  /* Replace E001 with the actual Unicode value */
// }

.icon-objective::before {
  font-family: 'ArmadaIcons', sans-serif;
  content: '\0021';
}
// <span class="icon-objective"></span>

// <span class="icon-specific-character"></span>


/* Add more icon classes as needed */