body {
    /***
      ADD YOUR CUSTOM STYLING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/
    //  background-color: white;
    //  .content {
    //   font-size: 14px;
    //  }
    //  h1 {
    //   color: black;
    //  }
}

/* Custom icons */
.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: -0.125em; /* Adjust vertical alignment as needed */
}

.icon-SiAdept::before {
  content: url('/assets/icons/SiAdept.svg');
}

